@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoDemoApp.Models.Umbraco
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>


<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-12 cold-md-7 order-md-1">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
        </div>
        <div class="col-12 col-md-5 order-md-2">
             @if (Model.Image is not null)
             {
                <img src="@Model.Image.Url()" class="img-fluid" />
             }
        </div>
    </div>
</div>